<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>uploadBlobImagen</servlet-name>
    <servlet-class>com.appspot.sirbuped.server.UploadBlobImagen</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadBlobImagen</servlet-name>
    <url-pattern>/sirbuped/uploadBlobImagen</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>uploadImagen</servlet-name>
    <servlet-class>com.appspot.sirbuped.server.UploadImageImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadImagen</servlet-name>
    <url-pattern>/sirbuped/uploadImagen</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>desaparecido</servlet-name>
    <servlet-class>com.appspot.sirbuped.server.DesaparecidoServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>desaparecido</servlet-name>
    <url-pattern>/sirbuped/desaparecido</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>